* {
  position:relative;
  margin:0;
}
#mainSign {
  background-color: rgb(62, 165, 238);
  height:100vh;
  color: white;
  margin:0;
  line-height: 100vh;
  font-size: 5vw;
  overflow:hidden;
}

#mainSignLeft {
  /* Previous version of main sign test */
  /* overflow:hidden;
  white-space:nowrap;
  text-overflow:clip; */
  /* Necessary for the Anime JS translateX Dont delete dis*/
}
#mainSignLeftHolder {
  text-align:right;
  overflow:hidden;
  float:left;
  width:50%;
  display:inline;
}
#mainSignRight {
  /* overflow:hidden;
  white-space:nowrap;
  text-overflow:clip; */
  /* Necessary for the Anime JS translateX */
}
#mainSignRightHolder {
  text-align:left;
  direction:rtl;
  overflow:hidden;
  width:50%;
  display:inline;
  float:right;
}
#chainLeft {
 width:50vw;
 top:8.5vw;
}
#chainRight {
 width:50vw;
 top:8.5vw;
 left:100%;
}
.chainHolder {
  position:absolute;
}
.test {
  margin:0;
  background-color: blue;
  overflow:hidden;
}
#testAfter {
  margin:0;
  overflow:hidden;
  background-color: blue;
  width:100%;
}
#testDrop {
  background-color: red;
  margin:0px;
}
