* {
  position:relative;
}
#navigationBar {
  z-index:2;
  position:fixed;
  background-color: rgb(62, 165, 238);
}
#navigationBar > a {
  text-decoration:none;
  color:white;
  width:100px;
  padding:10px 0 10px 0;
  text-align:center;
}
#navigationBar > a:hover, #navigationBarHome > a:hover {
  background-color:white;
  color: rgb(62, 165, 238);
}
.navigationBarFull {
  width:100%;
}
.floatRight {
  float:right;
}
.floatLeft {
  float:left;
}
#hamborger {
  padding:2.5px 10px 2.5px 10px;
}
#menu {
  width:30vw;
  z-index:100;
  background-color:red;
  overflow:hidden;
  position:relative;
}
#menuClose {
  color: white;
  font-size: 2em;
  padding:10px;
  background-color:red;
  z-index:100;
}
#menuName {
  width:30vw;
  padding:10px;
  color:white;
  font-size: 2em;
  background-color:red;
  display:inline-block;
}
.menuItem {
  width:30vw;
  color:white;
  font-size:1.5em;
  text-decoration:none;
  padding:10px;
  display:inline-block;
  background-color:red;
}
.menuItem:hover {
  background-color:white;
  color: rgb(62, 165, 238);
}
